    <div class="row justify-content-center mt-2 mb-2">
      <div class="col-2"><a class="nav-item nav-link active" routerLink="/home">Home</a></div>
      <div class="col-2"><a class="nav-item nav-link active" routerLink="/room">Room</a></div>
      <div class="col-2"><a class="nav-item nav-link active" routerLink="/ladder">Ladder</a></div>
    </div>
