<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="col-2"></div>
  <div class="col-8">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand align-right" href="#">{{title}}</a>
    </nav>
  </div>
  <div class="col-2">
    <ul class="nav">

      <li class="nav-item">
        <a routerLink="/login" class="nav-link active">Sign in</a>
      </li>
      <li class="nav-item">
        <a routerLink="/register" class="nav-link">Sign up</a>
      </li>
      <li class="nav-item">
        <a *ngif="!isLogged" (click)="logout()" class="nav-link">Log out</a>
      </li>

    </ul>
  </div>

</nav>

<div class="container" style="min-height:75vh">
  <div>
    <app-top-bar></app-top-bar>
    <router-outlet></router-outlet>
  </div>

</div>
<div class="container">
  <app-footer></app-footer>
</div>
