<h1 class="text-center mt-2 mb-2"> Welcome on professional dota league  </h1>
<p class="text-center"> You can join Dota 2 rooms for free. A post-match system has been implemented to report bad behaviours and score of each team</p>
<ngb-carousel *ngIf="images" interval="5000">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[0]" class="d-block w-100" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Welcome to our professionel dota league</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper" >
      <img [src]="images[1]" class="d-block w-100" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>we hope you fully enjoy your time here</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[2]" class="d-block w-100" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>And have a lot of fun (and mmr)</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel>




