<h1 class="mb-2"> Real Ladder </h1>

<button class="btn btn-primary justify-content-center" (click)="sortByMmr()"> Sort by mmr</button>

<table class="table mt-2">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Username</th>
    <th scope="col">MMR</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let p of players; let i = index">
    <th class="col-1">{{ i +1 }}</th>
    <td class="col-3">{{p.login}}</td>
    <td class="col-3">{{p.mmr}} mmr</td>

  </tr>

  </tbody>
</table>



