h1 {
    text-align:center;
}

.button-wrap {
    width: 20%;
    margin:0 auto 10px auto;
    padding: 0 auto;

}

.room-container {
    width:50%;
    margin : 0 auto;
    border:1px black solid;
}

.player-login {
    text-align:center;
    width:33%;
    font-weight:bold;
}

.player-mmr {
    
    font-weight:bold;
}