<h1 class="mb-2">Bienvenu dans la room, en attente de joueurs</h1>
<div class="row d-flex justify-content-around">
  <button class="btn btn-primary col-2" (click)="joinRoom()"> Join Room</button>
  <button class="btn btn-primary col-2" (click)="leaveRoom()"> Quit Room</button>
</div>
<table class="table mt-2">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Username</th>
    <th scope="col">MMR</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let p of players; let i = index">
    <th class="col-1">{{ i +1 }}</th>
    <td class="col-3">{{p.login}}</td>
    <td class="col-3">{{p.mmr}} mmr</td>

  </tr>

  </tbody>
</table>

