<div class="container col-6 mt-5 border p-4">
  <div class="card-header mb-2">Sign Up</div>
  <div class="card-title">Please sign up and enjoy our professionel league</div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="username">Login</label>
        <input class="form-control" type="text" id="username" [(ngModel)]="register.username" name="username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" class="form-control" type="password" [(ngModel)]="register.password" name="password">
      </div>
      <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
    </form>
  </div>
</div>

